*{
    box-sizing: border-box;
}
body{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    max-width: 1000px;
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline;
    padding: 1em;
}
.hidden{
    display: none;
}
.page img{
    max-width: 100%;
    height: auto;
}